@model ParticipantDetailsVm

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div>
    @using (Html.BeginForm("Details", "Events", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Type)
        @Html.HiddenFor(m => m.EventId)
        <div style="display: flex">
             @Html.LabelFor(l => l.Name, "Eesnimi: ",
                 new { id = "eesnimi", style = "width: 150px; margin-top: 5px; margin-bottom: 5px;" })
             @Html.LabelFor(l => l.Name, "Juriidiline nimi: ",
                 new { id = "firmanimi", style = "display: none; width: 150px; margin-top: 5px; margin-bottom: 5px;" })
             @Html.TextBoxFor(t => t.Name,
                 new { style = "margin: 15px; width: 100px; margin-left: 300px; width: 500px;" })
             @Html.ValidationMessageFor(m => m.Name)
         </div>
        <div style="display: flex">
            @Html.LabelFor(l => l.Name, "Perenimi: ",
                new { id = "perenimi", style = "width: 150px; margin-top: 5px; margin-bottom: 5px;" })
            @Html.LabelFor(l => l.Name, "Registrikood: ",
                new { id = "registrikood", style = "display: none; width: 150px; margin-top: 5px; margin-bottom: 5px;" })
            @Html.TextBoxFor(t => t.Identifier,
                new { style = "margin: 15px; width: 100px; margin-left: 300px; width: 500px;" })
            @Html.ValidationMessageFor(m => m.Identifier)
        </div>
        <div style="display: flex">
            @Html.LabelFor(l => l.Name, "Isikukood: ",
                new { id = "isikukood", style = "width: 150px; margin-top: 5px; margin-bottom: 5px;" })
            @Html.LabelFor(l => l.Name, "Osalejate arv: ",
                new { id = "osalejad", style = "display: none; width: 150px; margin-top: 5px; margin-bottom: 5px;" })
            @Html.TextBoxFor(t => t.Number,
                new { style = "margin: 15px; width: 100px; margin-left: 300px; width: 500px;" })
            @Html.ValidationMessageFor(m => m.Number)
        </div>
        <div style="display: flex">
            @Html.LabelFor(l => l.Name, "Maksmisviis: ",
                new { id = "payment", style = "width: 150px; margin-top: 5px; margin-bottom: 5px;" })
            @Html.DropDownListFor(x => x.Payment,
                new SelectList(
                    new List<Object>
                    {
                        new { value = "Sularaha", text = "Sularaha" },
                        new { value = "Pangaülekanne", text = "Pangaülekanne" }
                    }, "value", "text", Model.Payment), "- please select -",
                new { style = "margin: 15px; width: 100px; margin-left: 300px; width: 500px;" })
            @Html.ValidationMessageFor(m => m.Payment)
        </div>
        <div style="display: flex">
            @Html.LabelFor(l => l.Name, "Kommentaar: ",
                new { style = "width: 150px; margin-top: 5px; margin-bottom: 5px;" })
            @Html.TextBoxFor(t => t.Comment,
                new { id = "kommentaar", style = "margin: 15px; height = 75px; width = 300px ; margin-left: 300px;" })
            @Html.ValidationMessageFor(m => m.Comment)
        </div>
        <script>
            $(document).ready(function() {
                let maxChars = 1500;
                let type = $('input[type=hidden]').val();
                if (type === 'Person') {
                    $('#eesnimi').show();
                    $('#firmanimi').hide();
                    $('#perenimi').show();
                    $('#registrikood').hide();
                    $('#isikukood').show();
                    $('#osalejad').hide();
                    maxChars = 1500;
                }
                else if (type === 'Company') {
                    $('#eesnimi').hide();
                    $('#firmanimi').show();
                    $('#perenimi').hide();
                    $('#registrikood').show();
                    $('#isikukood').hide();
                    $('#osalejad').show();
                    maxChars = 5000;
                }
                $('#kommentaar').unbind('keyup change input paste').bind('keyup change input paste',function(){
                    let $this = $(this);
                    let val = $this.val();
                    let valLength = val.length;
                    if(valLength>maxChars){
                        $this.val($this.val().substring(0,maxChars));
                    }
                });
            });
        </script>
                
        <input id = "Submit" type = "submit" value = "submit" />
        <a asp-controller="Events" asp-action="Event" asp-route-id="@Model.EventId">Tagasi Sündmusele</a>
    }
</div>
</body>
</html>